body {
	margin:0;
	padding: 0;
	background: black;
	font:normal 75% Arial, Helvetica, sans-serif;
}
a {
	text-decoration: none;
}
.headline {
	height: 80vh;
	width: 100%;
	/*background: black;*/
	text-align: center;
	display: flex;
	justify-content: center; 
}
#headline-mobile {
	display: none;
}
.text {
	width: 100%;
	height: 100%;
	text-align: left;
	display: inline-flex;
	flex-direction: column;
}
.heading-block {
	display: inline-flex;
	min-width: 100%;
	height: auto;	
}
.heading {
	font-weight: 600;
	/*font-family: 'Merriweather', serif;*/
	margin-top: 20%;
	margin-left: 0%;
	padding: 0;
	line-height: 1;
	font-size: 90px;
	line-height: 46px;
	color: #444;
	color: white;
	height: max-content;
  	text-shadow: 1px 4px 12px rgb(65 132 144 / 10%), 0 4px 4px rgb(0 0 0 / 24%);
}

#HB {
	color: black;
	-webkit-text-stroke: 2px white;  
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}
.heading.h {
	margin-left: 15%;
}
.slogan {
	font-weight: normal;
  	margin-top: -5%;
  	margin-left: 15%;
  	padding: 0;
  	line-height: 1;
  	color: #FF8C00;
  	font-size: 50px;
  	font-size: xxx-large;
  	color: #444;
  	color: white;
  	/*color: black;
	-webkit-text-stroke: 1px white;  
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;*/
  	text-shadow: 1px 4px 12px rgb(65 132 144 / 10%), 0 4px 4px rgb(0 0 0 / 24%);
}
.button {
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;	
	justify-content: center;
	align-items: center;
}
.btn {
	margin-right: 0%;
	width: 55%;
	height: 22%;
	color: orange;
	font-size: 54px;
	margin-top: 40%;
}
.btn {
	/*display: inline-block;*/
	text-align: center;
	align-self: center;	
	
	box-sizing: border-box;
	padding: 0 25px;
	outline: none;
	border: 1px solid #fff;
	border-radius: 50px;
	/*height: 120px;*/
	/*width: 410px;*/
	line-height: 46px;
	/*font-size: 34px;*/
	font-size: xx-large;
	font-weight: 600;
	text-decoration: none;
	color: #fff;
	background-color: #444;
	background:transparent;
	box-shadow: 0 5px 6px rgb(255 255 255 / 29%), 0 5px 2px rgb(0 0 0 / 26%);
  	text-shadow: 0 2px 6px rgb(65 132 144 / 10%), 0 2px 2px rgb(0 0 0 / 16%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
	transition: box-shadow 0.4s;
}
.btn:focus-visible {
	border: 1px solid black;
	outline: none;
}
.btn:hover {
	transition: all 0.4s;
	box-shadow: 14px 14px 14px rgb(65 132 144 / 30%), 0 12px 24px rgb(0 0 0 / 24%);
}
.btn:active {
	background-color: lightgrey;
	color: #444;
	color: black;
	transition: all 0.4s;
}
.first-middle, .second-middle {
	height: 20vh;
	width: 100%;
	/*background: black;*/
	border-top: 6px solid white;
	border-bottom: 6px solid white;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.first-middle p, .second-middle p {
	font-weight: normal;
  	padding: 0;
  	line-height: 1;
  	color: #FF8C00;
  	font-size: 70px;
  	font-size: xxx-large;
  	color: #444;
  	color: white;
  	text-shadow: 1px 4px 12px rgb(65 132 144 / 10%), 0 4px 4px rgb(0 0 0 / 24%);	
}
.aboutline {
	height: 100vh;
	width: 100%;
	display: flex;
}
.aboutline-left,
.aboutline-middle, 
.aboutline-right {
	width: 100%;
	height: 100%;
	text-align: center;
	color: white;
}
#function-heading {
	font-weight: 600;
  	margin-left: 10%;
  	text-align: left;
  	border-bottom: 3px solid white;
  	width: 75%;
  	padding-bottom: 15px;
}
.aboutline p {
	font-weight: normal;
 	text-align: left;
 	width: 80%;
 	margin-left: 10%;
 	padding-bottom: 2%;
 	padding-top: 2%;
 	font-size: x-large;	
 	/*backdrop-filter: blur(2px);*/
}

.aboutline img {
	width: 80%;
	padding-top: 6%;
}
.second-middle {
	height: 20vh;
	width: 100%;
	border-top: 6px solid white;
	border-bottom: 6px solid white;
}
.downloadline {
	height: 90vh;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.downloadline-heading{
	display: inline-flex;
	min-width: 100%;
	height: max-content;
	padding-bottom: 7%; 
	justify-content: center;
	align-items: center;
}
.st-rd{
	font-weight: 600;
	/*font-family: 'Merriweather', serif;*/
	font-size: 120px;
	/*line-height: 56px;*/
	color: white;
	margin: 0;
  	text-shadow: 1px 4px 12px rgb(65 132 144 / 10%), 0 4px 4px rgb(0 0 0 / 24%);
}
.nd {
	font-weight: 600;
	font-size: 120px;
	text-shadow: 1px 4px 12px rgb(65 132 144 / 10%), 0 4px 4px rgb(0 0 0 / 24%);
	margin: 0;
	color: black;
 	-webkit-text-stroke: 2px white;  
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}
.pbottom {
	font-weight: normal;
	text-align: center;
  	margin: 0;
  	padding-top: 2%;
  	color: #FF8C00;
  	font-size: 40px;
  	color: #444;
  	color: white;
  	text-shadow: 1px 4px 12px rgb(65 132 144 / 10%), 0 4px 4px rgb(0 0 0 / 24%);
}
#btn-bottom {
	margin: 0;
	/*width: 33%;*/
	/*height: 25%;*/
	font-size: 54px;
	border-radius: 55px;
}

.contacts {
	height: 10vh;
	width: 100%;
	border-top: 6px solid white;
	display: flex;
	justify-content: center;
}
.signature {
	font-weight: normal;
	text-align: center;
	align-self: center;
  	padding: 0;
  	margin: 0;
  	line-height: 1;
  	width: 40%;
  	color: #FF8C00;
  	/*font-size: 40px;*/
  	font-size: xx-large;
  	color: white;
  	text-shadow: 1px 4px 12px rgb(65 132 144 / 10%), 0 4px 4px rgb(0 0 0 / 24%);
}
#address {
	width: 30%;
}

/* links conacts */

a {
	text-decoration: none;
	color: white;
	transition: all 0.4s;
}
i {
}
.links {
	width: 30%;
	display: inline-flex;
}
.link {
	/*font-size: 55px;*/
	font-size: xxx-large;
	height: 100%;
	float: right;
	line-height: 1;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding-left: 15%;
}
a:hover {
	transition: all 0.4s;
	color: lightblue;		
}

/* js particles */

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}
#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
    background: #000000;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
	
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.aboutline {
		height: auto;
	}
	.first-middle, .second-middle {
	height: auto;
	}
}

/* Landscape phones and portrait tablets */
@media only screen
and (max-device-width : 667px)   {
	#particles-js {
		display: none;
	}
	.headline {
		display: none;
	}
	#headline-mobile {
		height: max-content;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		/*flex-flow: wrap;*/
		align-items: center;
	}
	.heading-block {
		min-width: 100%;
		margin: 0;
		display: flex;
		justify-content: center;
		padding-top: 10%;
		padding-bottom: 10%;
	}
	.slogan {
		width: 70%;
		margin: 0;
		padding-top: 10%;
		padding-bottom: 10%;
	}
	.btn {
		min-width: 40%;
		margin: 0;
		padding-top: 5%;
		padding-bottom: 5%;
	}
	.btn:hover {
		box-shadow:0px 0px 0px black, 0 0px 0px black;
	}
	.heading-block p {
		margin: 0;
	}
	.heading.h {
		margin: 0;
	}
	.aboutline {
		height: auto;
		flex-wrap: wrap;
	}
	.aboutline img {
		width: 100%;
	}
	.aboutline p {
		font-size: xx-large;
	}	
	.downloadline {
		justify-content: flex-start;
		height: max-content;
	}
	.downloadline-heading {
		padding-top: 10%;
		padding-bottom: 10%;
	}
	.pbottom {
		padding-top: 10%;
		padding-bottom: 10%;
	}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {

}